
	<!-- groceriesController Start -->
	<div class="container text-center content-container" ng-controller="todoController">
		<form name="todoList">
			<div class="col-xs-4 m-b-30">
				<h3 class="m-b-30">Add a Task.</h3>
				<!-- ng-model input -->
				<input name="listingName" type="text" placeholder="What's the plan?" ng-model="todoAction" class="col-xs-12 left-input"/>
				<!-- ng-click newItem() function runs on click -->
				<input id="listing-name-confirm" class="col-xs-12 custom-button" type="submit" value="Add" ng-click="newTodo()"/>
			</div>
			<div class="col-xs-8 text-right content-list-container">
				<h4>Todo List</h4>
				<ul class="list-unstyled text-left item-list">
					<!-- ng-repeat has track by  $index to accept duplicates -->
					<li class="text-left" ng-repeat="todo in todolist track by $index">
						<div class="col-xs-10 p-l-0">
							<div class="col-xs-4 p-l-0">{{ todo }}</div>
						</div>
						<div class="col-xs-1 p-0 pull-right">
							<!-- ng-click runs deleteItem() to remove listings from the array groceryItem -->
							<button ng-click="deleteTask(todo)" class="pull-right delete-button">&times;</button>
						</div>
					</li>
				</ul>
			</div>
		</form>
	</div>